{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="{% static 'dist/css/college.css' %}">
        <link rel="stylesheet" href="../all.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Activities</title>
        <style>
           body {
              /* background-image: url("activities.jpeg"); */
           }
        </style>
    </head>
    <body>
      <nav class="navlist">
         <ul>
            <li><h4><span>&#128222;</span> 0824 247 4000 </h4></li>
            <li><a href="/">Home&nbsp;&nbsp;</a></li>
            <!-- <li><a href="./Login/login.html">Login&nbsp;&nbsp;&nbsp;</a></li> -->
            <div class="right-menu">
               <li class="menu-button"> Login&nbsp;&nbsp;</a></li>
               <div class = "dropdown-menu">
                  <a href="/login">Student Login</a>
                  <a href="/registration">Registration</a>
               </div>
            </div>
            <div class="right-menu">
               <li class="menu-button"> Academics</a></li>
               <div class = "dropdown-menu">
                  <a href="/academic">Academic Office</a>
                  <a href="/programme">Programmes</a>
                  <a href="/curriculum">Regulations and Curriculums</a>
               </div>
            </div>
            <li><a href="/contact">Contact Us&nbsp;&nbsp;</a></li>
            <div class="right-menu">
               <li class="menu-button"><a href="">Student Life</a></li>
               <div class = "dropdown-menu">
                  <a href="/StudentCouncil">Students' Council</a>
                  <a href="/activities">Activities</a>
                  <a href="/Sports">Sports and Games</a>
               </div>
            </div>
            
            
         </ul>
      </nav>
         <br>
         <h1 style="text-align: center; color: blue;">Student Activities</h1><br>
         <h3 style="color: blue;">TECHNICAL CLUBS</h3>
         
<br> 
<!-- <div class="activities-background"> -->
    Major national and international technical societies have set up local student chapters at NITK. They include Indian Society for Technical Education (ISTE), the Institution of Engineers, the Computer Society of India, the Institute of Electrical and Electronics Engineers (IEEE) and Robotics Club NITK.<br>
  <br> The Society of Automotive Engineers (SAE) has an active chapter constituted by Mechanical Engineering students. They conduct events like 'How stuff works', 'Under the hood', 'Can you fix it?' and also a Vintage Auto Expo. NITK has a racing team which participates in SAE BAJA. In 2011, its sister team NITKRacing participated in FSAE Michigan USA 2011, the toughest circuit on the FSAE calendar. It was the only team from India to participate in the event.<br>
  <br> NITK has a Linux Users Group, which along with the WEB Enthusiasts Club promotes FOSS and Linux. The Robotics Club (along with IEEE) at NITK is a group of students that aims to create a robotics culture in the institute. They provide tools, equipment and expert guidance so that academic projects in the area of robotics can be successful.<br>
  <br> The Engineers' Forum for Entrepreneurship Awareness (E-FOREA) encourages entrepreneurial ideas from students and promotes leadership and entrepreneurship on campus. E-Pitch is their flagship business idea competition which attracts participation from all over the country.<br>
  <br> The amateur astronomy Star Gazing Club conducts star-watching shows for the students and faculty. It runs astronomy workshops for school students in the region. It has recently acquired a radio telescope setup from Radio Jove, and this affords the students some opportunities in learning astronomy beyond the visible spectrum.<br>
  <br> The Robotics Club of NITK is a group of hobby robot enthusiasts. Members involve in presenting seminars on various levels of robotics to participating in renowned tech-fests like TECHFEST, IITB, SHAASTRA, IITM,etc.Recently, it has undertaken to build the Coconut Harvester Robot, in joint with CPCRI, Kasaragod to build an autonomous coconut tree harvester.<br>

   <!-- </div> -->
    </body>
</html>